
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

head{
    font-family: 'Jost', sans-serif;
}

body{
    color:#595959;
    height: 50px;
    font-family: 'Jost', sans-serif;
    background-color: #F2F2F2;
    font-size: 20px;
    text-align: center;
    
}

img {
  margin-top: 20px;
  width: 25%;
  margin: auto;
  display: block;
}
