.id{
	color:black;
	border:1px solid white;
}

.produto{
	color:black;
	border:1px solid white;
}

.status{
	color:black;
	border:1px solid white;
}

.conteiner{
	background-color:#00BFFF;
	border:1px solid black;
	display:flex;
	flex-direction:column;
}
